<%= form_for @person do |f| %>
	<div>
		<span class="form-label"><%= f.label :first_name %></span>
		<span class="form-field"><%= f.text_field :first_name %></span>
	</div>
	<div>
		<span class="form-label"><%= f.label :last_name %></span>
		<span class="form-field"><%= f.text_field :last_name %></span>
	</div>
	<div>
		<span class="form-label"><%= f.label :date_of_birth %></span>
		<span class="form-field"><%= f.date_select :date_of_birth, 
																							 :default => nil, 
																							 :include_blank => true,
																							 :end_year => 1900,
																							 :start_year => Date.today.year %></span>
	</div>
	<div>
		<span class="form-label"><%= f.label :gender %></span>
		<span class="form-field"><%= f.select :gender,
																					["male", "female", "other"],
																					:default => nil,
																					:include_blank => true %></span>
	</div>
	<div>
		<%= f.submit %>
	</div>
<% end %>