<h1><%= @person.full_name %></h1>
<p><%= @person.gender %><%= ", " + age(@person.date_of_birth.to_date) if @person.date_of_birth %></p>

<%= render :partial => 'people/person_dvds' %>
<p>
	<%= link_to :action => 'edit' do %>
		<button class="btn btn-small btn-info">Edit <%= @type %></button>
	<% end %>

	<%= link_to "#{@person.id}", :method => 'delete', :data => {:confirm => "Are you sure?"} do %>
		<button class="btn btn-small btn-danger">Delete <%= @type %></button>
	<% end %>
</p>