<div class="row">

	<!-- info -->

	<div class="span6">
		<h1><%= @dvd.name %></h1>
		<p><%= @dvd.summary %></p>

		<% if @dvd.release_date %>
		<p>
			Released on: <%= @dvd.release_date %>
		</p>
		<% end %>
		<p>
			<% if !@dvd.asin.blank? %>
				<span><%= image_tag 'amazon.png' %></span>
				<span><%= link_to @dvd.asin, amazon_link(@dvd), :target => "_blank" %></span>
			<% end %>
		</p>

		<%= render :partial => 'cast' %>

		<%= render :partial => 'new_people' %>

		<p>
			<%= link_to edit_dvd_path(@dvd) do %>
				<button class="btn btn-small btn-info">Edit DVD</button>
			<% end %>

			<%= link_to dvd_path(@dvd), :method => 'delete', :data => { :confirm => "Are you sure?" } do %>
				<button class="btn btn-small btn-danger">Delete DVD</button>
			<% end %>
		</p>
	</div>

	<!-- picture -->
	<div class="span6">
		<% if @dvd.picture %>
			<%= image_tag @dvd.picture, :class => 'large-pic' %>
		<% end %>
	</div>
</div>
<%= debug @dvd %>